 $color-block: #5B5959;
 $color-block-bg: #272727;
 $color-brand-violet: #503DC4;

 %graphik-400 {
  font-family: "Graphik LCG", sans-serif;
  font-weight: 400;
}

%graphik-500 {
  font-family: "Graphik LCG", sans-serif;
  font-weight: 500;
}

%bebas-700 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
}